<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="learn1.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="learn1.Perspective"
            name="Perspective"
            id="learn1.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="learn1.View"
            name="View"
            id="learn1.view"
            inject="false">
      </view>
      <view
            class="learn1.views.Navigator"
            id="learn1.views.navigator"
            name="navigator"
            restorable="true">
      </view>
      <view
            class="learn1.views.PropertiesView"
            id="learn1.views.propertiesView"
            name="Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="learn1.perspective">
         <view
               id="learn1.views.navigator"
               minimized="false"
               relationship="left"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="learn1.views.navigator">
         <includes>
            <actionExtension
                  pattern="learn1.navigatorAction">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="learn1.views.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="learn1.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="learn1.nav.ContentProvider"
            id="learn1.navigatorContent"
            labelProvider="learn1.nav.NavLabelProvider"
            name="navConteng">
      <triggerPoints>
         <adaptable>
            <test
                  property="org.eclipse.core.resources.IResource">
            </test>
         </adaptable>
      </triggerPoints>
      <possibleChildren>
         <include
               id="org.eclipse.core.resources.IResource">
         </include>
      </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="learn1.nav.NavigatorActionProvider"
            id="learn1.navigatorAction">
         <enablement></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="learn1.editors.FirstEditor"
            default="true"
            id="learn1.editor"
            name="Simple Editor">
      </editor>
   </extension>

</plugin>
